.moviesListBlock{
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.moviesListPage{
    width: 80%;
    margin-top: 20px;

    display: flex;
    justify-content: center;

}