.header{
    max-height: 20vw;
    background-color: #281f43;
    color: #C0AAAA;


    margin-top: 15px;
    display: flex;
    justify-content: space-around;

    overflow: hidden;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 12vw;
}

.headerMenu{
    width: 75vw;
    display: flex;
    flex-direction: row;

}

.headerProfile{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 12vw;
}