.header{
    background-color: #281f43;
    color: #C0AAAA;

    height: 21vh;

    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.headerLogo{
    display: flex;
    width: 23vw;
}

.headerMenu{
    width: 63vw;
}

.headerProfile{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 12vw;
}